body {
    margin:0;
	padding:0;
    background: url(images/6.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
li {
    float: left;
  }
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
li a:hover:not(.active) {
    background-color: #111;
  }
  


.active {
    background-color: #4CAF50;
  }



* {
    box-sizing: border-box;
}
  

.header{
    background-color: lightblue;
    opacity: 0.5;
    filter: Alpha(opacity=50); /* IE8 and earlier */
    padding: 15px;
}
  
.main {
    height: 1800px;
    width: 100%;
    float: center;
    padding: 15px;
    background-color: lightskyblue;
    opacity: 0.85;
    filter: Alpha(opacity=50); /* IE8 and earlier */
    padding: 15px;
}
.footer{

    background-color: lightblue;
    opacity: 0.5;
    filter: Alpha(opacity=50); /* IE8 and earlier */
    padding: 15px;
}

h1 {
    text-align: center;
    font-size: 35px; 
    font-weight: bold;  
    
}
.text{
    font-size: 15px; 
    font-weight: bold;

}


.imagine {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#copyright{
	font-style:italic;
}

.grid-container {
    display: grid;
    grid-gap: 25px 25px;
    grid-template-columns: auto auto auto;
    padding: 10px;
}
  
.grid-item {

    padding: 20px;
    font-size: 15px;
    text-align: center;
}

/* tableta */
@media (min-width: 768px) and (max-width: 1280px) {
    
    .header{
        background-color: lightblue;
        opacity: 0.5;
        filter: Alpha(opacity=50); /* IE8 and earlier */
        padding: 15px;
    }
      
    .main {
        height: 100%;
        width: 100%;
        float: center;
        background-color: lightskyblue;
        opacity: 0.85;
        filter: Alpha(opacity=50); /* IE8 and earlier */
        padding: 15px;
    }
    .footer{
    
        background-color: lightblue;
        opacity: 0.5;
        filter: Alpha(opacity=50); /* IE8 and earlier */
        padding: 15px;
    }
       
    .imagine {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .grid-container {
        display: grid;
        grid-gap: 5px 5px;
        grid-template-columns: auto;
        padding: 10px;
    }
      
    .grid-item {
    
        padding: 20px;
        font-size: 10px;
        text-align: center;
    }
}

/* telefon */
@media(max-width: 768px) {
    .header{
        background-color: lightblue;
        opacity: 0.5;
        filter: Alpha(opacity=50); /* IE8 and earlier */
        padding: 15px;
    }
      
    .main {
        height: 100%;
        width: 100%;
        float: center;
        background-color: lightskyblue;
        opacity: 0.85;
        filter: Alpha(opacity=50); /* IE8 and earlier */
        padding: 15px;
    }
    .footer{
    
        background-color: lightblue;
        opacity: 0.5;
        filter: Alpha(opacity=50); /* IE8 and earlier */
        padding: 15px;
    }
       
    .imagine {
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: center;
        width : 350px;
        height : 250px;
    }
    
    .grid-container {
        display: grid;
        grid-gap: 5px 5px;
        grid-template-columns: auto;
        padding: 10px;
    }
      
    .grid-item {
    
        padding: 20px;
        font-size: 8px;
        text-align: center;
    }
}
